@{
    ViewBag.Title = "Home Page";
}

 

<div class="row">
    <div class="col-md-12">
        <h2>QA Changes - 1 by srinivas</h2>
        <h2>Feature 1 changes added by srinivas</h2>
    </div>
    
</div>